@page "/validate"
@using System.ComponentModel.DataAnnotations;

<PageTitle>Validation</PageTitle>

<MudText Class="mb-8">This component demonstrates validate data.</MudText>


<MudText Typo="Typo.h3" GutterBottom="true">Validation MudBlazor</MudText>
<div class="d-inline-flex mt-1">
	@*SortMode*@
	<MudSelect @bind-Value="@_margin" T="Margin" Label="Margin" Margin="Margin.Dense" Dense="true" AnchorOrigin="Origin.BottomCenter">
		<MudSelectItem Value="@Margin.None" />
		<MudSelectItem Value="@Margin.Normal" />
		<MudSelectItem Value="@Margin.Dense" />
	</MudSelect>
	&nbsp;&nbsp;&nbsp;
	<MudSpacer />
	@*ResizeMode*@
	<MudSelect @bind-Value="@_valiant" T="MudBlazor.Variant" Label="Variant" Margin="Margin.Dense" Dense="true" AnchorOrigin="Origin.BottomCenter">
		<MudSelectItem Value="@MudBlazor.Variant.Text" />
		<MudSelectItem Value="@MudBlazor.Variant.Outlined" />
		<MudSelectItem Value="@MudBlazor.Variant.Filled" />
	</MudSelect>
</div>
<br />
<br />
<MudForm Model="@model">
	<div class="d-inline-flex align-items-baseline mt-1">
		<MudTextField @bind-Value="model.Name" For="@(() => model.Name)" Placeholder="Name" Label="Name *" Variant="_valiant" Margin="_margin" />
		&nbsp;&nbsp;&nbsp;
		<MudDatePicker @bind-Date="model.Date" For="@(() => model.Date)" DateFormat="yyyy/MM/dd" Placeholder="Date" Label="Date" Editable="true" DisableToolbar="true" DisplayMonths="2" Variant="_valiant" Margin="_margin" />
		<MudTimePicker Label="24 hours (editable)" Editable="true" />
	</div>
	<div class="d-inline-flex align-items-baseline mt-1">
		<MudTextField @bind-Value="model.Email" For="@(() => model.Email)" Placeholder="Email" Label="Email *" Variant="_valiant" Margin="_margin" />
	  &nbsp;&nbsp;&nbsp;
		<MudTextField @bind-Value="model.Phone" For="@(() => model.Phone)" Placeholder="Phone" Label="Phone *" Variant="_valiant" Margin="_margin" />
		&nbsp;&nbsp;&nbsp;
		<MudNumericField @bind-Value="model.Number" For="@(() => model.Number)" Placeholder="Number" Label="Number *" Variant="_valiant" Margin="_margin" />
	</div>
	<div class="d-inline-flex align-items-baseline mt-1">
		<MudTextField @bind-Value="model.Address.ZipCode" For="@(() => model.Address.ZipCode)" Label="ZipCode" Variant="_valiant" Placeholder="ZipCode" Margin="_margin" Style="@_style" />
		&nbsp;&nbsp;&nbsp;
		<MudTextField @bind-Value="model.Address.Address1" For="@(() => model.Address.Address1)" Label="Address1" Variant="_valiant" Placeholder="Address1" Margin="_margin" Style="@_style" />
		&nbsp;&nbsp;&nbsp;
		<MudTextField @bind-Value="model.Address.Address2" For="@(() => model.Address.Address2)" Variant="_valiant" Placeholder="Address2" Margin="_margin" Style="@_style" />
	</div>
</MudForm>
<br />
<br />
<br />
<RadzenText TextStyle="TextStyle.H3" Class="mb-8">Radzen Component</RadzenText>
<!-- <RadzenTemplateForm Model="@model" TItem="OrderModel" Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit> -->
<EditForm Model="@model">
	<DataAnnotationsValidator />
	<div class="d-inline-flex align-items-baseline mt-1">
		<RadzenFormField Text="Name *" Variant="Radzen.Variant.Text">
			<RadzenTextBox @bind-Value=@model.Name Placeholder="Name" Name="Name" onchange="" />
			<small><ValidationMessage For="@(() => model.Name)" /></small>
		</RadzenFormField>&nbsp;&nbsp;&nbsp;
		<RadzenFormField Text="Date *" Variant="Radzen.Variant.Text">
			<RadzenDatePicker @bind-Value=@model.Date ShowTime="true" AllowClear="true" HoursStep="1" MinutesStep="10" DateFormat="yyyy/MM/dd HH:mm">
				<FooterTemplate>
					<RadzenButton Click=@(args => model.Date = DateTime.Now) Text="Today" class="my-3 w-100" />
				</FooterTemplate>
			</RadzenDatePicker>
			<small><ValidationMessage For="@(() => model.Date)" /></small>
		</RadzenFormField>&nbsp;&nbsp;&nbsp;
		<RadzenFormField Text="Number *" Variant="Radzen.Variant.Text">
			<RadzenNumeric @bind-Value=@model.Number Placeholder="Number" Name="Number" onchange="" />
			<small><ValidationMessage For="@(() => model.Number)" /></small>
		</RadzenFormField>&nbsp;&nbsp;&nbsp;
	</div>
</EditForm>
<!-- </RadzenTemplateForm> -->
<br />
<br />
<br />
<MudText Typo="Typo.h3" GutterBottom="true">Defalut Blazor Component</MudText>
<EditForm Model="@model">
	<DataAnnotationsValidator />
	<div class="d-inline-flex align-items-baseline mt-1">
		<div styel="diplay: inline; vertical-align: baseline;">
			<span class="caption">Name <font color="red">*</font> :</span>
			<span class="input-field">
				<InputText @bind-Value="model.Name" class="textbox" />
				<small><ValidationMessage For="@(() => model.Name)" /></small>
			</span>
		</div>
		<div>
			Date <font color="red">*</font> :
			<InputDate  @bind-Value="model.Date" Type="InputDateType.DateTimeLocal" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Date)" />
		</div>
	</div>
	<div class="d-inline-flex align-items-baseline mt-1">
		<div>
			Email <font color="red">*</font> :
			<InputText @bind-Value="model.Email" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Email)" />
		</div>
		<div>
			Phone <font color="red">*</font> :
			<InputText @bind-Value="model.Phone" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Phone)" />
		</div>
		<div>
			Number <font color="red">*</font> :
			<InputNumber @bind-Value="model.Number" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Number)" />
		</div>
	</div>
	<div class="d-inline-flex align-items-baseline mt-1">
		<div>
			ZipCode <font color="red">*</font> :
			<InputText @bind-Value="model.Address.ZipCode" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Address.ZipCode)" />
		</div>
		<div>
			Address1 <font color="red">*</font> :
			<InputText @bind-Value="model.Address.Address1" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Address.Address1)" />
		</div>
		<div>
			Address2 <font color="red">*</font> :
			<InputText @bind-Value="model.Address.Address2" class="textbox input-field" />
			<ValidationMessage For="@(() => model.Address.Address2)" />
		</div>
	</div>
</EditForm>


@code {
	OrderModel model = new OrderModel();
	string _style = $"background:{Colors.Blue.Lighten5}; width:fit-content;";
	Margin _margin = Margin.Normal;
	MudBlazor.Variant _valiant = MudBlazor.Variant.Text;

	void OnSubmit(OrderModel model)
	{
	}

	void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
	{
	}

	public class OrderModel
	{
		[Required]
		[StringLength(8, MinimumLength = 4)]
		public string Name { get; set; } = "";

		[Required]
		[EmailAddress]
		public string Email { get; set; } = "";

		[Required]
		[Phone]
		public string Phone { get; set; } = "";

		public AddressModel Address { get; set; } = new AddressModel();

		public class AddressModel
		{
			[Required]
			public string ZipCode { get; set; } = "";
			[Required]
			public string Address1 { get; set; } = "";
			[Required]
			public string Address2 { get; set; } = "";
			[Required]
			public string Address3 { get; set; } = "";
		}

		[Required]
		public DateTime? Date { get; set; }

		[Required]
		public int Number { get; set; }
	}

}
